{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Comment
{% endblock title %}

{% block content %}
<h4>{{ time_now }}</h4>
   <hr>
<h1>Все комментарии ( {{ comment|length }} )</h1>
   <hr>
   {% if comment %}
        {% for comment in comment %}
            <h6>{{ comment.comment_post|truncatechars:50|censor  }}</h6>
            <p>{{ comment.comment_time_in|date:'d.M.Y'}}</p>
            <p>{{ comment.comment_text|censor }}</p>
            <p>{{ comment.comment_user.username }}</p>
            <hr>
        {% endfor %}
    {% else %}
       <h2>Коментариев нет!</h2>
    {% endif %}
{% endblock content %}