{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h6>{% current_time %}</h6>
    <hr>
    <h2>Новости</h2>
    Категория: {{category.category_name}}
    {% if is_not_subscriber %}
        <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>
    {% else %}
        <a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a>
    {% endif %}
    <hr>
    <a class="btn btn-secondary btn-sm" href="{% url 'post_search' %}">Поиск</a>
    {% if not is_author %}
        <a class="btn btn-secondary btn-sm" href="{% url 'account_upgrade' %}">Стать автором!</a>
    {% endif %}
    {% if perms.News.add_post %}
        <a class="btn btn-secondary btn-sm" href="{% url 'create_post' %}">Добавить новость</a>
    {% endif %}
    <hr>
    {% if category_news_list %}
        {% for post in category_news_list %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:grey; text-decoration: none}
            </style>
            <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
            Категория: {% for cat in post.post_category.all %}
            <a class="mylink" href="{% url 'category_list' cat.id %}">{{ cat }}
            {% endfor %}
            <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
            <br>
            <p>{{ post.post_text|truncatechars:100|censor }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}