{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
    {% trans "News" %}
{% endblock title %}

{% block content %}
    <h6>{{ time_now }}</h6>
    <hr>
    <h2>{% trans "News" %}</h2>
    {% trans "Category" %}: {{category.category_name}}
    {% if is_not_subscriber %}
        <a href="{% url 'subscribe' category.id %}" class="btn btn-success">{% trans "Subscribe" %}</a>
    {% else %}
        <a href="{% url 'unsubscribe' category.id %}" class="btn btn-danger">{% trans "Unsubscribe" %}</a>
    {% endif %}
    <hr>
    <a class="btn btn-secondary" href="{% url 'post_search' %}">{% trans "Search" %}</a>
    {% if not is_author %}
        <a class="btn btn-secondary" href="{% url 'account_upgrade' %}">{% trans "Become an author!" %}</a>
    {% endif %}
    {% if perms.News.add_post %}
        <a class="btn btn-secondary" href="{% url 'create_post' %}">{% trans "Add News" %}</a>
    {% endif %}
    <hr>
    {% if category_news_list %}
        {% for post in category_news_list %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:grey; text-decoration: none}
            </style>
            <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
            Категория: {% for cat in post.post_category.all %}
            <a class="mylink" href="{% url 'category_list' cat.id %}">{{ cat }}
            {% endfor %}
            <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
            <br>
            <p>{{ post.post_text|truncatechars:100|censor }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h2>{% trans "There is no news!" %}</h2>
    {% endif %}
    {% if page_obj.has_previous %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   <a class="btn btn-dark">{{ page_obj.number }}</a>
   {% if page_obj.has_next %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}