{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h6>{% current_time %}</h6>
   <hr>
<h2>Новости ( {{ page_obj.paginator.count }} )</h2>
<a class="my link" href="{% url 'post_search' %}"><h6>Поиск</h6></a>
{% if not is_author %}
<button>
    <a class="nav-link" href="{% url 'account_upgrade' %}">
        <h6><strong>Стать автором!</strong></h6>
    </a>
</button>
{% endif %}
    {% if perms.News.add_post %}
    <a class="my link" href="{% url 'create_post' %}">Добавить новость</a>
    {% endif %}
   <hr>
   {% if post %}
        {% for post in post %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:grey; text-decoration: none}
            </style>
            Категория: {% for cat in post.post_category.all %}
            {{ cat.category_name }}
            {% endfor %}
            <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
            <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
            <p>{{ post.post_text|truncatechars:100|censor }}</p>
            <hr>
        {% endfor %}
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}


