{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}

{% block title %}
    {% trans "News" %}
{% endblock title %}

{% block content %}
    {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">{% csrf_token %}
            <label for="timezone">{% trans "Time zone" %} :</label>
            <select name="timezone">
                {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-secondary" value="{% trans 'Set' %}">
        </form>
    <h6>{{ time_now }} {% if time_now|time:'H' >= '19' or time_now|time:'H' <= '07' %}Night{% else %}Day{% endif %}</h6>
    <hr>
    <h2>{% trans "News" %}</h2>
    {% trans "Total" %}: {{ page_obj.paginator.count }}
    <hr>
    <a class="btn btn-secondary" href="{% url 'post_search' %}">{% trans "Search" %}</a>
    {% if not is_author %}
        <a class="btn btn-secondary" href="{% url 'account_upgrade' %}">{% trans "Become an author!" %}</a>
    {% endif %}
    {% if perms.News.add_post %}
        <a class="btn btn-secondary" href="{% url 'create_post' %}">{% trans "Add News" %}</a>
    {% endif %}
    <hr>
    {% load cache %}
    {% cache 0 postlist %}
        {% block postlist %}
            {% if post %}
                {% for post in post %}
                    <style>
                    .mylink{color:black; text-decoration: none}
                    .mylink:hover{color:black; text-decoration: underline}
                    .mylink:visited{color:grey; text-decoration: none}
                    </style>
                    <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
                    {% trans "Category" %}: {% for cat in post.post_category.all %}
                    <a class="mylink" href="{% url 'category_list' cat.id %}">{{ cat }}
                    {% endfor %}
                    <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
                    <br>
                    <p>{{ post.post_text|truncatechars:100|censor }}</p>
                    <hr>
                {% endfor %}
            {% else %}
               <h2>{% trans "There is no news!" %}</h2>
            {% endif %}
        {% endblock postlist %}
    {% endcache %}
    {% if page_obj.has_previous %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   <a class="btn btn-dark">{{ page_obj.number }}</a>
   {% if page_obj.has_next %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}