{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load i18n %}

{% block title %}
    {{ post.post_title|censor }}
{% endblock title %}

{% block content %}
    <h3>{{ post.post_title|censor }}</h3>
    <hr>
    <h6>{{ post.post_time_in|date:'H:m d.M.Y'}}</h6>
    <hr>
    {{ post.post_text|censor }}
    <br>
    <br>
    <h6>{% trans "Author" %} - {{ post.post_author }}</h6>
    {% if perms.News.change_post or post.post_author == request.user.author %}
        <a class="btn btn-dark" href="/news/{{ post.id }}/update">{% trans "Edit" %}</a>
    {% endif %}
    {% if perms.News.delete_post or post.post_author == request.user.author%}
        <a class="btn btn-danger" href="/news/{{ post.id }}/delete">{% trans "Delete" %}</a>
    {% endif %}
    <hr>
    <h5>{% trans "Comments" %} ({{ post.comment_set.all|length }}) :</h5>
    <hr>
    {% if post.comment_set.all %}
        {% for comment in post.comment_set.all %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:black; text-decoration: none}
            </style>
            <p>{{ comment.comment_time_in|date:'H:m d.M.Y'}}</p>
            <a class="mylink" href="{{ comment.get_absolute_url }}">
                <p>"{{ comment.comment_text|censor }}"</p>
                <h6 style="text-align: right;">{{ comment.comment_user.username }}</h6>
            </a>
            <hr>
        {% endfor %}
    {% else %}
       <h6>{% trans "No comments" %}!</h6>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a class="btn btn-secondary btn-sm" href="/news/{{ post.id }}/create_comment">{% trans "Write a comment" %}</a>
    {% endif %}
{% endblock content %}