{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h6>{% current_time %}</h6>
    <hr>
    <h2>Новости</h2>
    Всего: {{ page_obj.paginator.count }}
    <hr>
    <a class="btn btn-secondary btn-sm" href="{% url 'post_search' %}">Поиск</a>
    {% if not is_author %}
        <a class="btn btn-secondary btn-sm" href="{% url 'account_upgrade' %}">Стать автором!</a>
    {% endif %}
    {% if perms.News.add_post %}
        <a class="btn btn-secondary btn-sm" href="{% url 'create_post' %}">Добавить новость</a>
    {% endif %}
    <hr>
    {% if post %}
        {% for post in post %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:grey; text-decoration: none}
            </style>
            <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
            Категория: {% for cat in post.post_category.all %}
            <a class="mylink" href="{% url 'category_list' cat.id %}">{{ cat }}
            {% endfor %}
            <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
            <br>
            <p>{{ post.post_text|truncatechars:100|censor }}</p>
            <hr>
        {% endfor %}
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}
   {% if page_obj.has_previous %}
       <a class="mylink" href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a class="mylink" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a class="mylink" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a class="mylink" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
