{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
    {% trans "Search" %}
{% endblock title %}
{% block content %}
    <h6>{{ time_now }}</h6>
    <hr>
    <h2>{% trans "Search for news" %} ( {{ page_obj.paginator.count }} )</h2>
    <form action="" method="get" style="text-align: center;">
        <hr>
        {{ filterset.form.as_p }}
        <input type="submit" class="btn btn-secondary" value="{% trans 'Search' %}" />
    </form>
    <hr>
    {% if post %}
        {% for post in post %}
            <style>
            .mylink{color:black; text-decoration: none}
            .mylink:hover{color:black; text-decoration: underline}
            .mylink:visited{color:grey; text-decoration: none}
            </style>
            Категория:
            {% for cat in post.post_category.all %}
                {{ cat.category_name }}
            {% endfor %}
            <a class="mylink" href="/news/{{ post.id }}"><h5>{{ post.post_title|censor }}</h5></a>
            <p>{{ post.post_time_in|date:'d.M.Y'}}</p>
            <p>{{ post.post_text|truncatechars:100|censor }}</p>
            <hr>
        {% endfor %}
    {% else %}
       <h2>{% trans "There is no news!" %}</h2>
    {% endif %}
    {% if page_obj.has_previous %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   <a class="btn btn-dark">{{ page_obj.number }}</a>
   {% if page_obj.has_next %}
       <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a class="btn btn-secondary btn-sm" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}


